@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
    scroll-behavior: smooth;
    list-style: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    scroll-behavior: smooth;
    /* border: 1px solid red; */
}

:root {
    --main-color: #fd4646;
    --text-color: black;
    --bg-color: white;

}

img {
    width: 100%;
}

body {
    color: var(--text-color);
    background: beige;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: wheat;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    width: 15%;

}



#cart-icon {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
}

#cart-icon[data-quantity= "0"]::after {
    content: "";
}

#cart-icon[data-quantity]::after {
    content: attr(data-quantity);
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: var(--text-color);
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding: 4rem 0 3rem;
}

.section-title {
    font-size: 2.3rem;
    font-weight: 600;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 12px 6px
}

/* Cart */
.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100vh;
    padding: 20px;
    background: white;
    box-shadow: -2px 4px hs1(0 4% 15% / 10%);
    transition: 0.3s;
}

.cart.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {

    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price {

    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5em;
    border-top: 1px solid var(--text-color);
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    background: var(--text-color);
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

.shop {
    margin-top: 2rem;
}

hr {
    margin: 15px 31px;
    border-top: double;
}

/* Shop Content */
.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5em;
}

.product-box {
    position: relative;
}

.product-box:hover {
    padding: 7px;
    color: white;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #f5deb3;
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background: hsl(249, 32%, 17%);
}

.scrollToTopBtn {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    width: 48px;
    height: 41px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);

    transition: all 0.5s ease;
}

.showBtn {
    opacity: 1;
    transform: translateY(0);
}

/* footer section*/


.footer-section {
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;
    background-color: rgb(245 222 179);
    /* background: linear-gradient(90deg, rgba(156,227,217,1) 0%, rgba(219,224,150,1) 50%, rgba(177,207,161,1) 100%); */
}

.footer-section h2 {
    margin-bottom: 1rem;
    color: rgb(13 14 160 / 62%);
    position: relative;
}

.footer-section h2::after {
    content: '';
    width: 4rem;
    height: .2rem;
    background: #e65b00;
    position: absolute;
    top: 2.5rem;
    left: 0;
}

.fa-brands:hover {
    color: #e65b00;
}

.footer-section p {
    transition: all .2s linear;
    margin-bottom: .6em;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer-section p:hover {
    transition: all .2s linear;
    transform: translateX(4px);
}

.footer-section a:hover {
    color: #f46d13;
}

.footer-item {
    margin: 1rem;
}

.footer-item ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.footer-item li {
    margin-right: 1rem;
}

.social ul li {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .2s linear;
}

.social ul li:hover {
    color: #e65b00;
    transform: scale(1.1);
    transition: all .2s linear;
}

/* Success and cancel page  */
.sc-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sc-container img {
    width: 200px;
    margin: 2rem e;
}

.sc-container h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.sc-container p {
    max-width: 600px;
    font-size: 0.97rem;
    text-align: center;
    margin: 0.5rem 0;
}

.sc-btn {
    padding: 12px 20px;
    border-radius: 2rem;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
}

/* Breakpoints 
 Making Responsive */
@media (max-width: 1080px) {
    .nav {
        padding: 15px;
    }

    section {
        padding: 3rem © 2rem;
    }

    .container {
        margin: 0 auto;
        width: 90%;
    }

    .shop {
        margin-top: 2rem !important;
    }
}

@media (min-width:500px) and (max-width: 779px) {
    .logo {
        width: 23%;
    }

}

@media (max-width: 450px) {
    .nav {
        padding: 11px;
    }

    .logo {
        font-size: 1rem;
        width: 25%;
    }

    .cart {
        width: 320px;
    }
}

@media (max-width: 360px) {
    .shop {
        margin-top: 1rem !important;
    }
    .logo {
        
        width: 30%;
    }

    .cart {
        width: 280px;
    }
}