@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
    color: rgb(65, 65, 136);
    /* border: 1px solid red; */
}

.header {
    background-color: #a58fcb;
    /* background: linear-gradient(90deg, rgba(156,227,217,1) 0%, rgba(219,224,150,1) 50%, rgba(177,207,161,1) 100%); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0 25px;
    height: 80px;
}

.logo {
    height: 40px;
}

.logo img {
    height: 43px;
    padding: 0px 23px;
    width: 229px;
}

.search {
    display: flex;
}

.search a {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 22px;
    color: white;
}

.search input {
    height: 39px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;

}


.icons {
    text-align: right;
}

.icons .fa {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 0 10px;
    transition: 0.6s;
}

.fa:hover {
    color: #f46d13;
    font-size: larger;
}

.links {
    background-color: #a58fcb;
    /* background: linear-gradient(90deg, rgba(156,227,217,1) 0%, rgba(219,224,150,1) 50%, rgba(177,207,161,1) 100%); */
    height: 0;
    transition: 0.6s;

}

.links a {
    color: white;
    text-decoration: none;
    display: flex;
    padding: 15px;
    font-size: 15px;

}

.links a:hover {
    color: #f46d13;
    font-size: larger;
}

.showlinks {
    height: 30vh;

}


/* section 1 */
#slide-sec {
    height: 30vh;

    /* background-color: aquamarine; */
}

#slide-sec h2 {
    text-align: center;
    font-size: 31px;
}

#slide-sec h2 small {
    display: block;
    color: rgb(53, 24, 80);
    font-size: 20px;
}

#slider--text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.fade-in {
    animation: move 4s infinite;
}

@keyframes move {
    0% {
        opacity: 0;
        transform: rotate3d(2, 0, 48deg);
    }

    20% {
        opacity: 1;
        transform: rotate3d(0, 0, 24deg);
    }

    80% {
        opacity: 1;
        transform: rotate3d(0, 0, 24deg);
    }

    100% {
        opacity: 0;
        transform: rotate3d(-2, 0, 48deg);
    }
}

/* art section */
.scroll {
    margin: auto;
    width: 80%;
    overflow: visible;
    overflow-x: overlay;
}

.scroll ul {
    padding: 0;
    display: flex;
    border-radius: 10px;
    animation: scroll 50s infinite linear;
}

.scroll ul:hover {
    animation-play-state: paused;
}

.scroll li {
    margin: 0 10px;
    list-style: none;
    position: relative;
    border-radius: 10px;
}

.scroll img {
    height: auto;
    width: 230px;
    cursor: pointer;
    transition: 0.1s;
    position: relative;
    border-radius: 10px;
    max-width: fit-content;
}

.scroll img:hover {
    transform: scale(1.04);
}

@keyframes scroll {
    from {
        margin-left: 0%
    }

    to {
        margin-left: -100%
    }
}


/* category section */

#category {
    height: 100%;
}
.category{
    display: flex;
    justify-content: space-around;
}
.category li{
    list-style: none;
}

/* cards_section */

.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.card {
    width: 25vw;
    height: 166px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    margin: 17px 82px;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgb(0 0 0 / 50%);
}

.card:hover {
    transform: translateY(-20px);
}

.card:hover:before {
    opacity: 1;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}

.card .info h1 {
    margin: 0px;
    color: white;
}

.card .info p {
    color: white;
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
}

.card .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    margin-top: 15px;
    border-radius: 16px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
}

.card .info button:hover {
    background: dodgerblue;
    color: white;
}



/* line section
 */

.slide-txt {
    /* align-items: center; */
    display: flex;
    justify-content: center;
    font-size: 12px;
}

/* footer section*/


.footer-section {
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;
    background-color: #a58fcb;
    /* background: linear-gradient(90deg, rgba(156,227,217,1) 0%, rgba(219,224,150,1) 50%, rgba(177,207,161,1) 100%); */
}

.footer-section h2 {
    margin-bottom: 1rem;
    color: rgb(13 14 160 / 62%);
    position: relative;
}

.footer-section h2::after {
    content: '';
    width: 4rem;
    height: .2rem;
    background: #e65b00;
    position: absolute;
    top: 2.5rem;
    left: 0;
}

.footer-section p {
    transition: all .2s linear;
    margin-bottom: .6em;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer-section p:hover {
    transition: all .2s linear;
    transform: translateX(4px);
}

.footer-section a:hover {
    color: #f46d13;
}

.footer-item {
    margin: 1rem;
}

.footer-item ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.footer-item li {
    margin-right: 1rem;
}

.social ul li {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .2s linear;
}

.social ul li:hover {
    color: #e65b00;
    transform: scale(1.1);
    transition: all .2s linear;
}

@media (min-width:600px) and (max-width:1000px) {
    .card {
        height: 146px;
    }

    .card .info p {
        font-size: 11px;
        margin-top: 4.5px;
    }
    .card .info button {
        margin-top: 10px;
        border-radius: 12px;
       
    }
}

@media only screen and (max-width:600px) {
    .header {
        grid-template-columns: auto auto;
        padding: 10px 5px;
        height: auto;
    }

    .search {
        grid-column: 2;
        grid-row: 2;
        grid-column: 1/span 2;
        padding-top: 28px;
    }

    .icons {
        padding: 5px;
    }

    .scroll img {
        height: 100px;
        width: auto;
    }
    .wrapper {
        
        flex-direction: column;
    }
    .card{
        width: 62vw;
        height: 23vh;
    }
    .card .info {
        height: 18vh;
    }
    .card .info p{
        font-size: 12px;
    }
    .card .info button{
       margin-top: 12px;
    }

}

@media screen and (max-width: 450px) {
    .footer-section {
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 2rem;
    }

    .logo img {
        height: 46px;
        padding: 0px 3px;
        width: 168px;

    }

    .icons .fa {
        font-size: 23px;
        padding-top: 9px;
    }
}